.parallaxOne ::ng-deep .parallax {
  background: url("https://wallpaperaccess.com/full/17597.jpg");
}
.parallaxTwo ::ng-deep .parallax {
  background-image: url("https://www.anniesguesthouse.co.uk/images/blog/20140312-theatre-royal-grey-street-ne1-6br-exterior.jpg");
}
.parallaxThree ::ng-deep .parallax {
  background-image: url("https://www.english-heritage.org.uk/siteassets/home/visit/places-to-visit/hadrians-wall/history/hadrians-wall.jpg?w=1440&h=612&mode=crop&scale=both&quality=60&anchor=NoFocus&WebsiteVersion=20200122");
}
.content {
  height: 100vh;
  background-color: #333745;
}
