<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      Some FAQ
    </mat-expansion-panel-header>
    <p>Some answer</p>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      Some FAQ
    </mat-expansion-panel-header>
    <p>Some answer</p>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      Some FAQ
    </mat-expansion-panel-header>
    <p>Some answer</p>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      Some FAQ
    </mat-expansion-panel-header>
    <p>Some answer</p>
  </mat-expansion-panel>
</mat-accordion>
