<app-header></app-header>
<app-parallax class="parallaxOne"></app-parallax>
<h2>
Frequently asked questions:
</h2>
<ul>
  <li>
    Q: What is NE Architectural? <br>
    A: NE Architectural is an app designed to help you find places of architectural significance in the North East of England!
  </li>
  <br>
  <li>
    Q: How can I use NE Architectural? <br>
    A: All you need is a mobile phone with Android [X] or later and Google Maps installed!
  </li>
  <br>
  <li>
    Q: Is NE Architectural free? <br>
    A: Yes it is!
  </li>
  <br>
  <li>
    Q: Can I use NE Architectural anywhere? <br>
    A: It will work anywhere, but only provides information about places in the North East of England.
  </li>
  <br>
  <li>
    Q: Do you store my location history? <br>
    A: We do not store any information about your location, it is all handled by Google.
  </li>
  <br>
  <li>
    Q: What is the Timeline? <br>
    A: The timeline is a feature which allows you to see locations in a different way than on the map, ordering them by the date they were created!
  </li>
  <br>
  <li>
    Q: Can I review locations I have visited? <br>
    A: If you liked a location you visited, you can press the heart on the search page to like it!
  </li>
  <br>
  <li>
    Q: Do I need an internet connection to use NE Architectural? <br>
    A: You will need a Wi-Fi or mobile data connection for your location to update accurately, but all other features will work without a connection!
  </li>
</ul>
<br>
<h2>
  Troubleshooting
</h2>
<ul>
  <li>
    What do I do if my map does not show my location? <br>
    If this occurs, ensure that you have allowed the app to use your location in your device settings.
  </li>
  <br>
  <li>
    Nothing happens when I click "Take me there".<br>
    Please ensure that you have Google Maps installed on your device (it should be installed by default).
  </li>
  <br>
  <li>
    The text is too small on the screen.<br>
    You can change the font size for the whole app in the settings page.
  </li>
  <br>
  <li>
    The app crashes sometimes.<br>
    Please email us at NEArchitecturalTeam6@gmail.com with details of what you were doing before the crash.
  </li>
  <br>
</ul>
