<br>
<br>
<h1>
Frequently Asked Questions:
</h1>
  <br>
<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      Q: What is NE Architectural?
    </mat-expansion-panel-header>
    <p>A: NE Architectural is an app designed to help you find places of architectural significance in the North East of England!</p>
  </mat-expansion-panel>
  <br>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      Q: How can I use NE Architectural?
    </mat-expansion-panel-header>
    <p>A: All you need is a mobile phone with Android 4.1 or later and Google Maps installed!</p>
  </mat-expansion-panel>
  <br>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      Q: Is NE Architectural free?
    </mat-expansion-panel-header>
    <p>A: Yes it is!</p>
  </mat-expansion-panel>
  <br>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      Q: Can I use NE Architectural anywhere?
    </mat-expansion-panel-header>
    <p>A: It will work anywhere, but only provides information about places in the North East of England.</p>
  </mat-expansion-panel>
  <br>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      Q: Do you store my location history?
    </mat-expansion-panel-header>
    <p>A: We do not store any information about your location, it is all handled by Google.</p>
  </mat-expansion-panel>
  <br>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      Q: What is the Timeline?
    </mat-expansion-panel-header>
    <p>A: The timeline is a feature which allows you to see locations in a different way than on the map, ordering them by the date they were created!</p>
  </mat-expansion-panel>
  <br>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      Q: Can I review locations I have visited?
    </mat-expansion-panel-header>
    <p>A: If you liked a location you visited, you can press the heart on the search page to like it!</p>
  </mat-expansion-panel>
  <br>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      Q: Do I need an internet connection to use NE Architectural?
    </mat-expansion-panel-header>
    <p>A: You will need a Wi-Fi or mobile data connection for your location to update accurately, but all other features will work without a connection!</p>
  </mat-expansion-panel>
</mat-accordion><br>
  <br>
<h1>
  Troubleshooting
</h1>
<br>
<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      What do I do if my map does not show my location?
    </mat-expansion-panel-header>
    <p>If this occurs, ensure that you have allowed the app to use your location in your device settings.</p>
  </mat-expansion-panel>
  <br>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      Nothing happens when I click "Take me there".
    </mat-expansion-panel-header>
    <p>Please ensure that you have Google Maps installed on your device (it should be installed by default).</p>
  </mat-expansion-panel>
  <br>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      The text is too small on the screen.
    </mat-expansion-panel-header>
    <p>You can change the font size for the whole app in the settings page.</p>
  </mat-expansion-panel>
  <br>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      The app crashes sometimes.
    </mat-expansion-panel-header>
    <p>Please email us at NEArchitecturalTeam6@gmail.com with details of what you were doing before the crash.</p>
  </mat-expansion-panel>
  <br>
</mat-accordion><br>
