<div>
  <mat-card>
    <form [formGroup]="form" (submit)="onSaveLocation()">
      <mat-form-field>
        <input
          matInput
          type="text"
          formControlName="title"
          placeholder="Location Title"
        />
        <mat-error
          *ngIf="form.get('title').invalid || form.hasError('whitespace')"
          >Please enter a valid title.</mat-error
        >
      </mat-form-field>
      <br />
      <mat-form-field>
        <input
          matInput
          type="text"
          formControlName="type"
          placeholder="Location Type"
        />
        <mat-error
          *ngIf="form.get('type').invalid || form.hasError('whitespace')"
          >Please enter a valid location type.</mat-error
        >
      </mat-form-field>
      <br />
      <mat-form-field>
        <input
          matInput
          type="number"
          formControlName="latitude"
          placeholder="Location Latitude"
        />
        <mat-error
          *ngIf="form.get('latitude').invalid || form.hasError('whitespace')"
          >Please enter a valid location latitude.</mat-error
        >
      </mat-form-field>
      <br />
      <mat-form-field>
        <input
          matInput
          type="number"
          formControlName="longitude"
          placeholder="Location Longitude"
        />
        <mat-error
          *ngIf="form.get('longitude').invalid || form.hasError('whitespace')"
          >Please enter a valid location longitude.</mat-error
        >
      </mat-form-field>
      <br />
      <mat-form-field>
        <textarea
          matInput
          type="text"
          formControlName="summary"
          placeholder="Location summary"
        ></textarea>
        <mat-error
          *ngIf="form.get('summary').invalid || form.hasError('whitespace')"
          >Please enter a valid summary.</mat-error
        >
      </mat-form-field>
      <br />
      <mat-form-field>
        <input
          matInput
          formControlName="created"
          placeholder="Location Year of creation"
          type="number"
        />
        <mat-error
          *ngIf="form.get('created').invalid || form.hasError('whitespace')"
          >Please enter a valid creation date.</mat-error
        >
      </mat-form-field>
      <br />
      <mat-form-field>
        <input
          matInput
          type="text"
          formControlName="thumbnail"
          placeholder="Thumbnail URL"
        />
        <mat-error
          *ngIf="form.get('thumbnail').invalid || form.hasError('whitespace')"
          >Please enter a valid thumbnail URL.</mat-error
        >
      </mat-form-field>
      <br />
      <mat-form-field>
        <textarea
          matInput
          type="text"
          formControlName="paragraphs"
          placeholder="Newline separated paragraphs"
        >
        </textarea>
        <mat-error
          *ngIf="form.get('paragraphs').invalid || form.hasError('whitespace')"
          >Please enter valid, newline separated paragraphs.
        </mat-error>
      </mat-form-field>
      <br />
      <mat-form-field>
        <textarea
          matInput
          type="text"
          formControlName="imageURLs"
          placeholder="Enter space separated urls"
        >
        </textarea>
        <mat-error
          *ngIf="form.get('imageURLs').invalid || form.hasError('whitespace')"
          >Please enter valid space-separated URLs.
        </mat-error>
      </mat-form-field>
      <br />
      <mat-checkbox
        matCheckbox
        [(ngModel)]="currentWheelChair"
        [ngModelOptions]="{ standalone: true }"
      >
        Wheelchair Access
      </mat-checkbox>
      <br />
      <mat-checkbox
        matCheckbox
        [(ngModel)]="currentCheap"
        [ngModelOptions]="{ standalone: true }"
      >
        Cheap Entry
      </mat-checkbox>
      <br />
      <mat-checkbox
        matCheckbox
        [(ngModel)]="currentFree"
        [ngModelOptions]="{ standalone: true }"
      >
        Free Entry
      </mat-checkbox>
      <br />
      <mat-checkbox
        matCheckbox
        [(ngModel)]="currentChild"
        [ngModelOptions]="{ standalone: true }"
      >
        Child Friendly
      </mat-checkbox>
      <br />
      <mat-checkbox
        matCheckbox
        [(ngModel)]="currentBookInAdvance"
        [ngModelOptions]="{ standalone: true }"
      >
        Book in advance
      </mat-checkbox>
      <br />

      <button mat-raised-button color="accent" type="submit">
        Save Location
      </button>
    </form>
  </mat-card>
</div>
